docker-compose.yml
docker-compose_*.txt
test-compose.yml
docker-compose.test.yml

certbot-etc/
certbot-webroot/
cookies.txt

.env

esdata/
esdata_su/
esdata_ha/
nginx_dev/

fluentd/

elasticsearch/Dockerfile
elasticsearch/docker-entrypoint-es.sh
elasticsearch/init-es.sh 