# Python
__pycache__/

# 가상환경
venv/
.env

# Docker
Dockerfile.txt
Dockerfile

# Elasticsearch
start.sh
logs/

# Pytest
.pytest_cache/
F11_tests/
F12_tests/
pytest.ini

# Logs
security.log

#alembic
alembic/
alembic.ini

# 자료
static/

# 데이터 넣는 스크립트
scripts/